<tr>
  <td><%= blog.unit.name %></td>
  <td><%= blog.user.name %></td>
  <td><%= blog.created_at.strftime('%Y-%m-%d %H:%M') %></td>
  <td><%= link_to '', blog.url, class: 'fas fa-link dark' %></td>
  <td><%= link_to '', blog_path(blog), method: :delete, class: 'far fa-trash-alt dark text-muted', data: { confirm: '削除してよろしいですか？' } %></td>
</tr>
