<div class="row">
  <div class="blog-box-modal col-12 p-5">
    <div class="h4 mb-4">以下の内容で記録</div>
    <%= form_for(user.blogs.build, url: blogs_path, method: :post) do |f| %>
      <%= f.hidden_field :user_id, value: user.id %>

      <%= f.select :unit_id, unit_names, {}, {selected: :first, class: "custom-select d-block w-100"} %>

      <%= f.text_field :url, class: "form-control my-3", placeholder: "ブログのURLをここに貼り付ける" %>

      <%= f.submit "追加", class: "btn btn-primary btn-block mt-4 mb-3" %>
    <% end %>
    <%= link_to '戻る', close_blogs_path, class: 'btn btn-outline-secondary w-100', remote: true %>
  </div>
</div>
