<div class="row">
  <div class="col-3">
    <div class="row justify-content-center">
      <%= render 'home/user_area' %>
      <%= render 'blogs/side_menus' %>
      <%= render 'home/changeable' %>
    </div>
  </div>
  <div class="col-9">
    <div class="row">
      <div class="col-11 blog-top rounded my-3 p-5">
        <div>全店トータル</div>
        <canvas id="myChart" width="200px" height="100px"></canvas>
        <script>
            var ctx = document.getElementById('myChart').getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: ['iPhone', 'Xepria', 'Galaxy', 'Zenfone', 'ゲーム機', 'Surface', 'その他'],
                    datasets: [{
                        label: '機種別ブログ投稿数',
                        data: gon.data,
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)',
                            'rgba(127,127,138,0.2)'
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)',
                            'rgba(127,127,138,1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true,
                                min: 0,
                                max: 10
                            }
                        }]
                    }
                }
            });
        </script>
      </div>
      <div class="col-11 blog-content rounded">
        <table class="table text-center">
          <thead>
            <tr>
              <th>機種</th>
              <th>投稿店舗</th>
              <th>投稿日時</th>
              <th>ブログURL</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <%= render partial: 'blogs/blog_td', collection: @blogs, as: :blog %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
