<%= image_tag "/images/#{member.icon}", class: "icon-member rounded-circle my-3 active-icon"%>
<h6><%= member.name %></h6>
<div class="h4 mt-3">勤務中</div>
<div class="my-4 member-card-bottom">
  <%= link_to '退勤', finish_working_timecard_path(member.id),
              class: 'btn btn-sm btn-danger w-75',
              data: { confirm: "#{current_time}　退勤しますか？" },
              remote: true
  %>
</div>
<div class="active-circle rounded-circle"></div>
