<%= image_tag "/images/#{member.icon}", class: "icon-member rounded-circle my-3 opacity-05"%>
<h6 class="opacity-05"><%= member.name %></h6>
<div class="h4 mt-3 text-muted">休み</div>
<div class="my-4 member-card-bottom">
  <%= link_to '出勤', start_working_timecard_path(member.id),
              class: 'btn btn-sm btn-info w-75',
              data: { confirm: "#{current_time}　出勤しますか？" },
              remote: true
  %>
</div>
