<% unless t_card.nil? %>
  <div class="row">
    <div class="col time-card-box-modal px-5 py-3 text-center">
      <div class="row">
        <div class="col-12 p-3 h4">
          <%= t_card.member.name %>
        </div>
      </div>
      <%= form_for(t_card, url: timecard_path(t_card), method: :patch) do |f| %>
        <table class="table">
          <tbody>
            <tr>
              <th>始業</th>
              <td>
                <div class="form-group">
                  <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                    <%= f.text_field :start_time, class: "form-control datetimepicker-input", data: {target: "#datetimepicker1"}, value: "#{t_card.start_time.strftime('%Y-%m-%d %H:%M')}" %>
                    <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                      <div class="input-group-text"><i class="fa fa-calendar-alt"></i></div>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <th>終業</th>
              <td>
                <div class="form-group">
                  <div class="input-group date" id="datetimepicker2" data-target-input="nearest">
                    <%= f.text_field :end_time, class: "form-control datetimepicker-input", data: {target: "#datetimepicker2"}, value: "#{t_card.end_time.strftime('%Y-%m-%d %H:%M')}" %>
                    <div class="input-group-append" data-target="#datetimepicker2" data-toggle="datetimepicker">
                      <div class="input-group-text"><i class="fa fa-calendar-alt"></i></div>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="row justify-content-center my-3">
          <%= link_to '戻る', close_timecard_path(t_card), class: 'col-2 mx-2 btn btn-outline-secondary', remote: true %>
          <%= f.submit "更新", class: "col-2 mx-2 btn btn btn-primary btn-block w-25" %>
          <%= link_to '削除', timecard_path(t_card), method: :delete, class: 'col-2 mx-2 btn btn-danger' %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
