<div class="col-5 time-card-box p-3 my-2 mx-2">
  <div class="row text-center">
    <div class="col-4">
      <%= image_tag "/images/#{member.icon}", class: "icon-member rounded-circle my-3 active-icon"%>
    </div>
    <div class="col-8">
      <h5><%= member.name %></h5>
      <div class="h6 mt-3">
        出勤数　<%= member.timecards
                 .where(start_time: Time.current.beginning_of_month..Time.current.end_of_month)
                 .select(:start_time)
                 .distinct
                 .count %>
      </div>
      <div class="h6">
        総時間　<%= total_worked_time(member)[:hour] %>時間 <%= total_worked_time(member)[:min] %>分
      </div>
    </div>
    <div class="col-12 ">
      <table class="table">
        <thead>
          <tr>
            <th>日付</th>
            <th>始業</th>
            <th>終業</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% member.timecards.each do |t_card| %>
            <tr>
              <td><%= t_card.start_time.strftime('%d') %>日</td>
              <td><%= t_card.start_time.nil? ? "---" : "#{t_card.start_time.strftime('%H:%M')}" %></td>
              <td><%= t_card.end_time.nil? ? "---" : "#{t_card.end_time.strftime('%H:%M')}" %></td>
              <td><%= link_to '', timecard_path(t_card.id), class: 'far fa-edit text-muted', remote: true %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
