<div class="row">
  <div class="col-3">
    <div class="row justify-content-center">
      <%= render 'home/user_area' %>
      <%= render 'timecards/side_menus' %>
      <%= render 'home/changeable' %>
    </div>
  </div>
  <div class="col-9">
    <div class="row ml-4">
      <div class="col-12">
        <h4 class="text-white">店舗内スタッフ　勤怠記録</h4>
      </div>
      <div class="col-12">
        <div class="row">
          <%= render partial: 'timecards/work_time_list', collection: @members, as: :member %>
        </div>
      </div>
      <div class="col-12 mt-4">
        <div class="row">
          <%= render partial: 'home/member_card', collection: @members, as: :member %>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="time_card_modal" class="time_card_modal">
  <%= render 'time_card_modal', t_card: @members.first.timecards.second %>
</div>
