<div class="col-6 blog-box text-center">
  <div class="row">
    <div class="col-12 h5 font-concert-one pt-3 pb-1 m-0">
      今月のブログ投稿数
    </div>
  </div>
  <canvas id="myChartDoughnut1" height="220px"></canvas>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
  <script>
      var ctx = document.getElementById('myChartDoughnut1').getContext('2d');
      var chart = new Chart(ctx, {
          // The type of chart we want to create
          type: 'pie',

          // The data for our dataset
          data: {
              labels: gon.unit_names,
              datasets: [{
                  backgroundColor: ['rgba(255,84,94,0.7)',
                      'rgba(103,255,77,0.7)',
                      'rgba(91,160,255,0.7)',
                      'rgba(234,106,255,0.7)',
                      'rgba(255,255,64,0.87)',
                      'rgb(36,226,144)',
                      'rgba(132,131,136,0.7)' ],
                  weight: 500,
                  data: gon.unit_each_blog
              }]
          },

          // Configuration options go here
          options: {}
      });
  </script>
  <%= link_to '', new_blog_path, class: 'col-2 offset-8 btn btn-sm btn-primary mt-2 fas fa-plus-circle', remote: true %>
</div>
<div class="blog-modal col" id="blog-modal">
  <%= render 'blogs/blog_modal', user: @user %>
</div>
