<div class="col-11 changeable-box w-100 rounded m-2 text-white">
  <div class="row justify-content-center">
    <div class="col-8 changeable-box-top text-center my-4 py-1 h4 rounded">
      今月のお知らせ
    </div>
    <div class="col-12 text-center">
      ・お盆期間（10日〜18日）の<br>
      　配送について<br>
      　詳細はTalkNote要確認<br>
      <br>
      ・ブログ&レビュー投票期限<br>　
      　14日（金）<br>
      <br>
    </div>
  </div>
</div>
