<div class="h5">問合せ入力シート</div>
<div class="h1 py-2 display-3 text-center inquiry-logo">
  <i class="fas fa-info-circle"></i>
</div>
<%= form_for(user.inquiries.build, method: :post) do |f| %>
  <div class="h6 py-2 font-weight-normal letter-s text-muted">電話など、お客様から問い合わせを受けた時に記録として入力します</div>

  <div class="form-group staff-select">
    <%= f.select :staff_id, staffs, {}, {selected: :first, class: "custom-select d-block w-100"} %>
  </div>

  <div class="form-group route-select">
    <%= f.select :route, a_route, {}, {selected: :first, class: "custom-select d-block w-100"} %>
  </div>

  <div class="form-group unit-select">
    <%= f.select :products, unit_names, {}, {selected: :first, class: "custom-select d-block w-100"} %>
  </div>

  <%= f.text_field :series, class: "form-control my-3", id: "series-field", placeholder: "シリーズ、型番などを入力" %>

  <div class="form-group condition-select">
    <%= f.select :conditions, conditions, {}, {selected: :first, class: "custom-select d-block w-100"} %>
  </div>

  <%= f.text_field :memo, class: "form-control my-3", id: "memo-field", placeholder: "備考：上記に当てはまらない症状など" %>

  <div class="form-group result-select">
    <%= f.select :results, results, {}, {selected: :first, class: "custom-select d-block w-100"} %>
  </div>
  <%= f.hidden_field :user_id, value: user.id %>
  <%= f.submit "記録", class: "btn btn-lg btn-info btn-block mt-4" %>
<% end %>
