<div class="col-2 mx-3 mb-4 member-cards text-center" id="member-<%= member.id %>">
  <% if member.working %>
    <%= render 'timecards/active_member', member: member %>
  <% else %>
    <%= render 'timecards/no_active_member', member: member %>
  <% end %>
</div>
