<div class="col-5 review-box">
  <div class="row">
    <div class="col-12 h5 font-concert-one p-3 mt-2 text-center">
      Googleレビュー獲得数
    </div>
  </div>
  <div class="col-12 mt-2">
    <div class="rotating progress" id="progress2"></div>
    <script>
        window.onload = function onLoad() {
            var circle = new ProgressBar.Circle('#progress2', {
                color: '#ffab2c',
                trailColor: '#d4d4d4',
                strokeWidth: 10,
                duration: 1000,
                easing: 'easeInOut'
            });

            circle.set(0.05);

            setTimeout(function() {
                circle.animate(1);
            }, 0);
        };
    </script>
    <span class="col-12 review-counts font-concert-one text-center">
      <%= @user.review_count_this_month %>
    </span>
  </div>
  <%= link_to '', reviews_path,
              method: :post,
              class: 'col-2 offset-8 btn btn-sm btn-primary mt-4 fas fa-plus-circle',
              data: { confirm: 'レビューを１件追加しますか？' } %>
</div>
