<div class="col-12 side-box mt-5">
  <div class="row justify-content-around">
    <a class="col-4 side-menus selected-menu" data-turbolinks="false" href=<%= root_path %>>
      <i class="fas fa-home h1 mt-3"></i>
      <span>Home</span>
    </a>

    <a class="col-4 side-menus non_selected" href=<%= products_path %>>
      <i class="fas fa-cubes h1 mt-3"></i>
      <span>Products</span>
    </a>

    <a class="col-4 side-menus non_selected" href=<%= inquiries_path %>>
      <i class="fas fa-file-contract h1 mt-3"></i>
      <span>Inquiry</span>
    </a>

    <a class="col-4 side-menus non_selected" href=<%= sales_path %>>
      <i class="fas fa-money-check-alt h1 mt-3"></i>
      <span>Sales</span>
    </a>

    <a class="col-4 side-menus non_selected" href=<%= blogs_path %>>
      <i class="fas fa-blog h1 mt-3"></i>
      <span>Blogs</span>
    </a>

    <a class="col-4 side-menus non_selected" href=<%= timecards_path %>>
      <i class="fas fa-clock h1 mt-3"></i>
      <span>TimeCard</span>
    </a>
  </div>
</div>
