<div class="col-12 user-area text-center">
  <%= image_tag "/images/#{current_user.image}", class: "user-image rounded-circle my-3"%>
  <div class="h2"><%= current_user.name %></div>
  <p>Tel: <%= current_user.tel %></p>
  <p><%= current_user.address %></p>
</div>
