<div class="row">
  <div class="col-3">
    <div class="row justify-content-center">
      <%= render 'home/user_area' %>
      <%= render 'home/side_menus' %>
      <%= render 'home/changeable' %>
    </div>
  </div>
  <div class="col-9">
    <div class="row">
      <div class="col-12 p-2 px-4">
        <div class="row">
          <div class="text-white h4 col-4"><%= Time.current.strftime('%Y年 %m月 %d日') %></div>
        </div>
      </div>
      <div class="col-8">
        <div class="row px-3">
          <div class="col-12 sales-box mb-4 py-3">
            <div class="h5">売り上げ推移</div>
            <%= render 'sales/chart_graph' %>
          </div>
          <div class="col-12">
            <div class="row justify-content-between">
              <%= render 'home/blogs_box' %>
              <%= render 'home/review_box' %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-4 inquiry-box pt-3">
        <%= render 'home/inquiry_box', user: @user %>
      </div>
      <div class="col-12 mt-4">
        <div class="row">
          <%= render partial: 'home/member_card', collection: @user.members, as: :member %>
        </div>
      </div>
    </div>
  </div>
</div>
