<div class="top-page-image">
  <div class="row justify-content-center">
    <div class="col-12">
      <div class="row align-items-center blank-4-login-form">
        <div class="col-6 font-concert-one pl-5 text-white h4">
          <i class="fas fa-box ml-5"></i>
          <span class="col">Central Kitchen</span>
        </div>
      </div>
    </div>
    <div class="col-4 text-white px-5">
      <div class="row justify-content-center">
        <div class="h4 text-center font-concert-one login-text rounded pt-4">
          Log in
          <p class="h6 mt-3">email: test@example.com</p>
          <p class="h6">password: password</p>
        </div>
      </div>
      <div class="login-form-box p-4 rounded">
        <div class="login-blank"></div>
        <%= render 'devise/sessions/login_form' %>
        <%#= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
