@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import url('https://fonts.googleapis.com/css?family=Concert+One&display=swap');
@import "tempusdominus-bootstrap-4.css";

//全体共通
$main_color: rgba(255, 84, 60, 0.8);
$main_color_light: rgba(255, 90, 7, 0.9);

.font-concert-one {
  font-family: 'Yrsa', serif;
}

.logo {
  font-size: 28px;
}

body {
  background-color: #efefef;
}

header {
  color: white;
  font-size: 32px;
  height: 68px;
  width: 100vw;
  z-index: 10;
}

.header-items {
  font-weight: lighter;
}

footer {
  height: 100px;
}

a {
  color: white;
}

a.dark {
  color: #3f3f3f;
}

a:hover {
  text-decoration: none;
  color: #adadad;
}

.text-white {
  color: white;
}
.text-black {
  color: #343434;
}

.bg-white{
  background-color: white;
}

.opacity-05 {
  opacity: 0.5;
}

.container-fluid {
  //background-color: white;
  position: absolute;
  top: 80px;
  left: 0;
  right: 0;
  margin: auto;
  padding-left: 30px;
  padding-right: 40px;
  max-width: 1500px;
}

//ログインページ
.top-page-image {
  background-image: url("/images/CK.png");
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.blank-4-login-form {
  height: 11vw;
}

.logout {
  font-size: 20px;
}

.login-form-box {
  color: #a9acb0;
  background-color: white;
  width: 24vw;
  position: absolute;
  top: 2vw;
  left: 0;
  right: 0;
  margin: auto;
}
.login-blank {
  height: 92px;
}
.login-text {
  width: 20vw;
  height: 9vw;
  background: linear-gradient(45deg, rgb(255, 92, 75), rgb(255, 106, 50));
  position: relative;
  z-index: 10;
}

//フラッシュ
.notice-area {
  position: fixed;
  top: 84px;
  z-index: 20;
}

//＃home　ページ
.top-space {
  height: 36px;
}

.top-background {
  color: white;
  height: 432px;
  width: 100%;
  background: linear-gradient(45deg, $main_color, $main_color_light);
  border-bottom-left-radius: 45px;
  padding-top: 80px;
  position: relative;
  top: -80px;
  z-index: -10;
}

.search-window {
  background-color: white;
  border-radius: 30px;
}

.user-area {
  color: white;
  height: 280px;
  border-radius: 6px;
  text-align: center;
}

.user-image {
  height: 110px;
  width: 110px;
  background-color: white;
  top: 0;
  left: 0;
  margin: auto;
}

.product-box {
  height: 160px;
}
.product-box-right {
  background-color: #313851;
}
.product-box-search {
  height: 80px;
}
.product-content {
  height: 420px;
  background-color: white;
  overflow: auto;
}
.product-modal {
  display: none;
  height: 100vw;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 50;
  position: fixed;
  top: 0;
  left: 0;
}
.product-box-modal {
  height: 78%;
  width: 50%;
  background-color: white;
  border-radius: 16px;
  z-index: 60;
  position: fixed;
  top: 12%;
  left: 30%;
}

.sales-box {
  height: 380px;
  background-color: white;
  border-radius: 8px;
}
.sales-page-input {
  height: 184px;
}
.sales-page-top {
  height: 120px;
}
.sales-page-graph {
  height: 540px;
}
.sales-page-invoices {
  height: 360px;
  overflow: auto;
}
.sales-page-circle-chart {
  height: 300px;
}

.inquiry-box {
  width: 100%;
  background-color: white;
  border-radius: 8px;
}
.inquiry-logo {
  color: #ff224f;
}

.circle-meter {
  height: 140px;
  width: 140px;
  background-color: $main_color;
  top: 0;
  left: 0;
  margin: auto;
  position: relative;
}
.circle-meter2 {
  height: 120px;
  width: 120px;
  background-color: white;
  position: absolute;
}

.blog-box {
  width: 100%;
  height: 300px;
  background-color: white;
  border-radius: 8px;
}
.progress {
  height: 160px;
  width: 100%;
  margin: 0 auto;
  background-color: white;
  position: relative;
  top: 0;
  left: 0;
}
.progress > svg {
  height: 100%;
  display: block;
}
.blog-counts {
  position: absolute;
  top: 35%;
  left: 0;
}
.blog-modal {
  display: none;
  height: 100vw;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 50;
  position: fixed;
  top: 0;
  left: 0;
}
.blog-box-modal {
  height: 44%;
  width: 40%;
  background-color: white;
  border-radius: 16px;
  z-index: 60;
  position: fixed;
  top: 18%;
  left: 30%;
}
.blog-top {
  height: 520px;
  background-color: white;
}
.blog-content {
  height: 640px;
  background-color: white;
  overflow: auto;
}

.review-box {
  height: 300px;
  background-color: white;
  border-radius: 8px;
}
.review-counts {
  position: absolute;
  top: 30%;
  left: 0;
  font-size: 42px;
}

.side-box {
}

.side-menus {
  color: #666666;
  height: 112px;
  text-align: center;
  border-radius: 20px;
  margin: 12px 6px 6px 0;
}
.non_selected:hover {
  color: $main_color;
  font-size: 18px;
}

.selected-menu {
  color: white;
  background: linear-gradient(45deg, $main_color, $main_color_light);
}

.changeable-box {
  height: 280px;
  background: linear-gradient(45deg, #e5a344, #efe550);
  margin-top: 42px;
}

.changeable-box-top {
  font-weight: bold;
}

.member-cards {
  width: 100%;
  color: white;
  //background-color: white;
  background-color: #313851;
  border-radius: 8px;
}
.member-nonactive {
  background-color: rgba(40, 46, 66, 0.5);
}
.icon-member {
  height: 70px;
  width: 70px;
  top: 0;
  left: 0;
  margin: auto;
}
.active-icon {
  border: 5px solid rgba(85, 14, 255, 0.8);
}
.active-circle {
  position: absolute;
  top: 21%;
  left: 64%;
  height: 16px;
  width: 16px;
  border: 2px solid white;
  background-color: #4cd06f;
}

//＃タイムカード　ページ
.time-card-box {
  height: 480px;
  border-bottom-left-radius: 12px;
  border-top-left-radius: 20px;
  background-color: white;
  overflow: auto;
}

.time_card_modal {
  display: none;
  height: 100vw;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 50;
  position: fixed;
  top: 0;
  left: 0;
}

.time-card-box-modal {
  height: 44%;
  width: 48%;
  background-color: white;
  border-radius: 16px;
  z-index: 60;
  position: fixed;
  top: 18%;
  left: 26%;
}

.time-fade-in {
  transition: 2s;
  position: fixed;
  top: 18%;
  left: 26%;
}

.datepicker-days th.dow:nth-last-child(7),
.datepicker-days td:nth-last-child(7) {
  color: #f00;
}

.datepicker-days th.dow:last-child,
.datepicker-days td:last-child {
  color: #00f;
}
