<div class="row">
  <div class="col-12 h4 text-center text-white mt-5">
    <i class="fas fa-boxes"> 在庫一括処理（棚卸し）</i>
  </div>
  <div class="col-12 text-center p-5">
    <%= link_to 'CSV エクスポート', products_path(format: :csv), class: 'btn btn-info w-100' %>
    <%= form_tag import_products_path, multipart: true, class: 'mt-5' do %>
      <%= file_field_tag :file %>
      <%= submit_tag 'CSV インポート', class: 'btn btn-info w-100 mt-2' %>
    <% end %>

    <%= form_tag import_from_other_products_path, multipart: true, class: 'mt-5' do %>
      <%= file_field_tag :file %>
      <%= submit_tag 'CSV インポート(スマレジから)', class: 'btn btn-danger mt-2 w-100' %>
    <% end %>
  </div>
</div>
