<tr>
  <td><%= product.stock_id %></td>
  <td><%= link_to product.name, all_stocks_product_path(product), method: :post, remote: true, class: 'text-black' %></td>
  <td><%= product.color %></td>
  <td>¥<%= product.cost.to_i %></td>
  <td><%= product.stocks %></td>
</tr>
