<div class="row">
  <div class="product-box-modal col-12 px-5 py-4">
    <div class="h5 mb-3 text-center"><%= @product.name unless @product.nil? %></div>
    <table class="table">
      <tbody class="w-50">
        <%= render partial: 'products/td_modal', collection: @products, as: :product %>
      </tbody>
    </table>
    <%= link_to '戻る', close_products_path, class: 'btn btn-outline-secondary w-100', remote: true %>
  </div>
</div>
