<table class="table table-striped text-center">
  <thead>
  <tr>
    <th>在庫ID</th>
    <th>パーツ名</th>
    <th>色</th>
    <th>原価</th>
    <th>在庫</th>
  </tr>
  </thead>
  <tbody>
    <%= render partial: 'products/products_td', collection: products, as: :product %>
  </tbody>
</table>
