<div class="h5 p-2">使用パーツ登録</div>
<%= form_for(ticket, method: :post) do |f| %>
  <table class="table text-center">
    <thead>
    <tr>
      <th>在庫ID</th>
      <th>個数</th>
      <th></th>
    </tr>
    </thead>
    <tbody class="text-center">
    <tr>
      <td>
        <%= f.number_field :product_num, class: "form-control d-block w-100" %>
      </td>
      <td>
        <%= f.number_field :count, class: "form-control d-block w-100", value: 1 %>
      </td>
      <%= f.hidden_field :user_num, value: current_user.id %>
      <%= f.hidden_field :type_num, value: 0 %>
      <td>
        <%= f.submit "登録", style: 'z-index: 10;',
                     data: { confirm: '使用済み登録します。よろしいですか？' },
                     class: "btn btn-sm btn-success btn-block mt-1 w-100"
        %>
      </td>
    </tr>
    </tbody>
  </table>
<% end %>
