<div class="row">
  <div class="col-3">
    <div class="row justify-content-center">
      <%= render 'home/user_area' %>
      <%= render 'products/side_menus' %>
      <%= render 'home/changeable' %>
    </div>
  </div>
  <div class="col-9">
    <div class="row">
      <div class="col-11 rounded-top bg-white">
        <div class="pt-3 pb-1">
          <%= search_form_for @q, class: '' do |f| %>
            <div class="row form-group justify-content-center">
              <%= f.label :name_cont_all, 'パーツ名', class: 'col-2 col-form-label text-center' %>
              <div class="col-8">
                <%= f.search_field :name_cont_all, class: 'form-control' %>
              </div>
              <div class="col-2">
                <%= f.submit class: 'btn btn-outline-primary', value: '検索' %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="col-11 product-content rounded-bottom">
        <%= render 'products/table_products', products: @products %>
      </div>
      <div class="col-11 mt-3">
        <div class="row">
          <div class="col-7">
            <div class="row">
              <div class="col-12 product-box rounded bg-white">
                <%= render 'products/used_product', ticket: @ticket %>
              </div>
              <div class="col-12 mt-2 product-box rounded bg-white">
                <%= render 'products/defective_product', ticket: @ticket %>
              </div>
              <div class="col-12 mt-2 product-box rounded bg-white">
                <%= render 'products/lost_product', ticket: @ticket %>
              </div>
            </div>
          </div>
          <div class="col-5">
            <div class="product-box-right rounded h-100">
              <%= render 'products/products_right_box' %>
            </div>
          </div>
          <div class="col-12 mt-3 product-box rounded bg-white">
            <%= render 'products/other_user_products', ticket: @ticket %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="product-modal col" id="product-modal">
  <%= render 'products/stocks_modal', product: @product %>
</div>
