<div class="row">
  <div class="col-6 mt-3">
    <div class="bg-white rounded sales-page-circle-chart">
      <div class="p-2">月間　機種別　修理実績（<%= current_user.name %>）</div>
      <canvas id="myChartDoughnut1"></canvas>
      <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
      <script>
          var ctx = document.getElementById('myChartDoughnut1').getContext('2d');
          var chart = new Chart(ctx, {
              // The type of chart we want to create
              type: 'doughnut',

              // The data for our dataset
              data: {
                  labels: gon.unit_names,
                  datasets: [{
                      backgroundColor: ['rgba(255,84,94,0.7)',
                          'rgba(103,255,77,0.7)',
                          'rgba(91,160,255,0.7)',
                          'rgba(234,106,255,0.7)',
                          'rgba(255,255,64,0.87)',
                          'rgb(36,226,144)',
                          'rgba(132,131,136,0.7)' ],
                      weight: 500,
                      data: [10,10,20,40,12,23,56]
                  }]
              },

              // Configuration options go here
              options: {}
          });
      </script>
    </div>
  </div>
  <div class="col-6 mt-3 sales-page-circle-chart">
    <div class="bg-white rounded sales-page-circle-chart">
      <div class="p-2">月間　機種別　修理実績（全店）</div>
      <canvas id="myChartDoughnut2"></canvas>
      <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
      <script>
          var ctx = document.getElementById('myChartDoughnut2').getContext('2d');
          var chart = new Chart(ctx, {
              // The type of chart we want to create
              type: 'doughnut',

              // The data for our dataset
              data: {
                  labels: gon.unit_names,
                  datasets: [{
                      backgroundColor: ['rgba(255,84,94,0.7)',
                          'rgba(103,255,77,0.7)',
                          'rgba(91,160,255,0.7)',
                          'rgba(234,106,255,0.7)',
                          'rgba(255,255,64,0.87)',
                          'rgb(36,226,144)',
                          'rgba(132,131,136,0.7)' ],
                      weight: 500,
                      data: [10,10,20,40,12,23,56]
                  }]
              },

              // Configuration options go here
              options: {}
          });
      </script>
    </div>
  </div>
</div>
