<canvas id="myChartTop"></canvas>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script>
    var ctx = document.getElementById('myChartTop').getContext('2d');
    var chart = new Chart(ctx, {
        // The type of chart we want to create
        type: 'line',

        // The data for our dataset
        data: {
            labels: gon.days,
            datasets: [{
                label: '今年の売り上げ',
                borderColor: 'rgb(77,120,255)',
                data: gon.sales
            },
                {
                    label: '去年の売り上げ',
                    backgroundColor: 'rgba(255,84,94,0.7)',
                    borderColor: 'rgb(255,86,111)',
                    data: gon.sales_last_year
                }]
        },

        // Configuration options go here
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true,
                        min: 0,
                        max: 250000
                    }
                }]
            }
        }
    });
</script>
