<%= form_for(sale.invoices.build, url: sales_path, method: :post) do |f| %>
  <table class="table text-center">
    <thead>
    <tr>
      <th>日付</th>
      <th>名前(お客様)</th>
      <th>機種</th>
      <th>金額</th>
      <th>支払い方法</th>
      <th></th>
    </tr>
    </thead>
    <tbody class="text-center">
    <tr>
      <td>
        <div class="pt-2">
          <%= current_time_m_d %>
        </div>
      </td>
      <td>
        <%= f.text_field :customer, class: "form-control d-block w-100", placeholder: 'お客様の名前' %>
      </td>
      <td>
        <%= f.select :unit_id, unit_names, {}, {selected: :first, class: "custom-select d-block w-100"} %>
      </td>
      <td>
        <%= f.number_field :price, class: "form-control d-block w-100" %>
      </td>
      <td>
        <%= f.select :payment, payment, {}, {selected: :first, class: "custom-select d-block w-100"} %>
      </td>
      <%= f.hidden_field :user_id, value: current_user.id %>
      <%= f.hidden_field :sale_id, value: sale.id %>
    </tr>
    </tbody>
  </table>
  <div class="row justify-content-center">
    <%= f.submit "登録", style: 'z-index: 10;',
                 data: { confirm: '登録します。よろしいですか？' },
                 class: "btn btn-sm btn-success btn-block mt-1 w-25"
    %>
  </div>
<% end %>
