<tr>
  <td><%= invoice.created_at.strftime('%m/%d') %></td>
  <td><%= invoice.customer %></td>
  <td><%= invoice.unit.name %></td>
  <td>¥<%= invoice.price %></td>
  <td><%= invoice.payment_by %></td>
</tr>
