<div class="row">
  <div class="col-3">
    <div class="row justify-content-center">
      <%= render 'home/user_area' %>
      <%= render 'sales/side_menus' %>
      <%= render 'home/changeable' %>
    </div>
  </div>
  <div class="col-9">
    <div class="row no-gutters">
      <div class="col-12">
        <div class="text-white h4 p-2 px-4"><%= Time.current.month %>月</div>
      </div>
      <div class="col-12 mt-2　p-1 rounded bg-white sales-page-input">
        <%= render 'sales/input_form', sale: @sale %>
      </div>
      <div class="col-12">
        <%= render 'sales/chart_doughnut' %>
      </div>
      <div class="col-12 mt-3 p-4 rounded bg-white sales-page-graph">
        <%= render 'sales/chart_graph' %>
      </div>
      <div class="col-12 mt-3">
        <div class="row">
          <div class="col-12 p-4 rounded bg-white sales-page-invoices">
            <div class="h4 text-center">修理履歴</div>
            <table class="table table-striped text-center">
              <thead>
                <tr>
                  <th>日付</th>
                  <th>名前</th>
                  <th>機種</th>
                  <th>金額</th>
                  <th>支払い方法</th>
                </tr>
              </thead>
              <tbody>
                <%= render partial: 'sales/invoices', collection: @invoices, as: :invoice %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
