<header class="row align-items-center justify-content-between w-100">
  <div class="col-3 font-concert-one text-center logo">
    <i class="fas fa-box ml-5"></i>
    Central Kitchen
  </div>
  <div class="col-6">
    <div class="row h6 header-items mt-2">
      <div class="col-2"><%= link_to 'Home', root_path %></div>
      <div class="col-2"><%= link_to 'Products', products_path %></div>
      <div class="col-2"><%= link_to 'Inquiries', inquiries_path %></div>
      <div class="col-2"><%= link_to 'Sales', sales_path %></div>
      <div class="col-2"><%= link_to 'Blog', blogs_path %></div>
      <div class="col-2"><%= link_to 'Time Card', timecards_path%></div>
    </div>
  </div>
  <div class="col-2 text-center logout">
    <div class="row">
      <div class="col-4">
        <%= link_to '', root_path, class: "far fa-bell text-white" %>
      </div>
      <div class="col-4">
        <% if user_signed_in? %>
          <%= link_to '',
                      destroy_user_session_path,
                      method: :delete,
                      data: { confirm: "アプリケーションからログアウトします。よろしいですか？" },
                      class: "fas fa-power-off text-white"
          %>
        <% else %>
          <%= link_to 'sign up', new_user_registration_path  %>
          <%= link_to 'login', new_user_session_path  %>
        <% end %>
      </div>
    </div>
  </div>
</header>
