<!DOCTYPE html>
<html>
  <head>
    <title>CentralKitchen</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= include_gon %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="top-background"></div>
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-10 notice-area">
          <% if notice %>
            <div class="row notice alert alert-success" id="alert">
              <div class="col-10">
                <%= notice %>
              </div>
              <div class="col-2 text-right">
                <%= link_to '', new_notice_path, remote: true, class: 'fas fa-trash-alt text-right text-black' %>
              </div>
            </div>
          <% elsif alert%>
            <div class="row alert alert alert-danger" id="alert">
              <div class="col-10">
                <%= alert %>
              </div>
              <div class="col-2 text-right">
                <%= link_to '', new_notice_path, remote: true, class: 'fas fa-trash-alt text-right text-black' %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="col-12 top-space"></div>
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://rawgit.com/kimmobrunfeldt/progressbar.js/master/dist/progressbar.min.js"></script>
  </body>
</html>
